@import ./vars

*
 margin: 0
 padding: 0
 border: 0

*,
*:before,
*:after
 box-sizing: border-box

html,
body
 font-family: $fontMain
 font-size: 10px
 line-height: 1.6

body
 min-height: 100vh
 font-size: 1.4rem
 &.locked
  overflow: hidden

aside,
nav,
header,
footer,
section
  display: block

button
  cursor: pointer

a,
a:visited,
a:hover
 text-decoration: none

ul,
li
 list-style: none

// Container
.container
  max-width: $containerWidth + px
  width: 100%
  margin: 0 auto
  padding: 0 $containerSidePadding + px

@keyframes fade
 0%
  opacity: 0
 100%
  opacity: 1
