@import ../include/vars

@media (max-width: $breakpoint1450)
  .container
    max-width: 1200px

@media (max-width: $breakpoint1200)
  .container
    max-width: 1160px

@media (max-width: $breakpoint992)
  .container
    max-width: 970px

@media (max-width: $breakpoint768)
  .container
    max-width: 768px

@media (max-width: $breakpoint480)
  .container
    max-width: none
