include ./_mixins

footer.footer#footer
  .container
    .footer__wrapper
      a(href="#header") #[+svg-icon('logo').footer__logo]
      nav.footer__nav
        ul.footer__nav-menu
          li.footer__nav-item #[a(href="#video") О комплексе]
          li.footer__nav-item #[a(href="#map") Район]
          li.footer__nav-item #[a(href="#apartments") Каталог квартир]
          li.footer__nav-item #[a(href="#feedback") Ипотека]
          li.footer__nav-item #[a(href="#footer") Контакты]
      nav.footer__nav
        ul.footer__nav-menu
          li.footer__nav-item #[a(href="#!") Поселение и переезд]
          li.footer__nav-item #[a(href="#!") Сервисные услуги]
          li.footer__nav-item #[a(href="#!") Экологическая устойчивость]
          li.footer__nav-item #[a(href="#!") Инвестиционные возможности]
          li.footer__nav-item #[a(href="#!") Программа лояльности]
      nav.footer__nav
        ul.footer__contacts
          li.footer__nav-item Адрес: #[a(href="#map") Наб. реки Фонтанки 10-15]
          li.footer__nav-item Телефон: #[a(href="tel:88121234567") 8 (812) 123-45-67]
          li.footer__nav-item Отдел продаж: 10:00-20:00
          li.footer__nav-item E-mail: #[a(href="mailto:vip@lofthouse.ru") <strong>vip@lofthouse.ru]
          .footer__socials
            a(href="#!") #[+svg-icon('youtube').icon-img]
            a(href="#!") #[+svg-icon('vk').icon-img]
            a(href="#!") #[+svg-icon('facebook').icon-img]
            a(href="#!") #[+svg-icon('instagram').icon-img]
