header.header
  .container
    .navbar
      .logo
        a(href="#!").logo-link
          //- img(src="@img/logo.svg", alt="logo")
          span Logo
      nav.nav
        ul.nav__menu
          li.nav__menu_item
            a.nav__menu_item-link(href="#!") Home
          li.nav__menu_item
            a.nav__menu_item-link(href="#!") Projects
          li.nav__menu_item
            a.nav__menu_item-link(href="#!") About
          li.nav__menu_item
            a.nav__menu_item-link(href="#!") Contacts
      .nav__btns
        a(href="#!").nav-btn Sign up
        select.select
          option(value="en") EN
          option(value="ru") RU

      .burger
        span
