include ./_mixins

main.container
  .main__wrapper
    .side__left
      h1.main__title home page.
      h1.main__title.color all you need.
      p.side__left-text All of your work in one place. And much more
      input(type="text", placeholder="Enter your email address").signup-field
      .side__footer
        button.main-btn Sign up
        .side__footer-text
          span AND BE PART OF
          span THE CLOSED BETA
    .side__right
