@import ../vars
@import ../mixins

.main
  overflow: hidden
  .benefits
    max-width: 92rem
    position: relative
    padding-top: 12rem
    display: grid
    grid-template-columns: repeat(4, 1fr)
    gap: 2rem
    &__item
      display: flex
      flex-direction: column
      align-items: center
      gap: 5.3rem
      &-desc
        font-family: $font-secondary
        font-weight: 300
        font-size: 2rem
        line-height: 1.35
        color: $white
        text-align: center
      &-icon
        width: 8rem
        height: 8rem
        fill: $accent
    &::after
      @include decor("II")
      right: 0
      transform: translateX(50%)

  .apartments
    padding-top: 12rem
    position: relative
    &__title
      padding-bottom: 8.8rem
    &__gallery
      display: grid
      grid-template-columns: repeat(2, 1fr)
      gap: 3rem
      &-card
        height: 32rem
        display: block
        position: relative
        overflow: hidden
        color: $white
        &:hover
          color: $white
        &::after
          content: ""
          position: absolute
          top: 1.5rem
          left: 1.5rem
          bottom: 1.5rem
          right: 1.5rem
          border: 3px double $white
          opacity: 0
          z-index: 8
          transition: 0.3s opacity ease-in
        &:hover::after
          opacity: 0.5
        &:hover
          img
            transform: scale(1.1)
            filter: contrast(1.1) brightness(1.2) saturate(1.2)
          .img-01
            transform: translateY(-30%) scale(1.1)
          .img-02
            transform: translateY(-45%) scale(1.1)
        &::before
          content: ""
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 100%
          background: $main-gradiend
          z-index: 7
      &-image
        max-width: 100%
        position: relative
        z-index: 5
        transition: 0.3s all ease-in
        &.img-01
          transform: translateY(-30%)
        &.img-02
          transform: translateY(-45%)
      &-desc
        position: absolute
        bottom: 4.4rem
        left: 5rem
        font-size: 2.4rem
        z-index: 8
    &::before
      @include decor('III')
      left: 0
      transform: translate(-50%, 25%)

  .cta
    padding: 18rem 0
    background: $cta-gradients, url("@img/bg-image-02.jpeg") center no-repeat, #c4c4c4
    &__title
      padding-bottom: 1.7rem
    &__wrapper
      display: grid
      grid-template-columns: repeat(2, 1fr)
      gap: 3rem
    &__form
      display: grid
      grid-template-columns: repeat(2, 1fr)
      gap: 3.5rem 3rem

  .video
    position: relative
    &__link
      display: inline-block
      position: relative
      left: 50%
      transform: translateX(-50%)
      z-index: 2
      &:hover
        .video__play
          background: $video-gradient-sat, center / cover no-repeat url("@img/bg-video.jpeg")
        .video__btn
          transform: translate(-50%, -50%) scale(1.1)
          fill: saturate($accent, 30%)
    &__play
      width: 72rem
      height: 65rem
      margin: 0 auto
      position: relative
      background: $video-gradient, center / cover no-repeat url("@img/bg-video.jpeg")
      transition: .3s linar-gradient ease-in
    &__btn
      width: 10rem
      height: 10rem
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      fill: $accent
      transition: .3s all ease-in
    &::after
      @include decor('IV')
      right: 0
      transform: translate(50%, 15%)

  .map
    padding-top: 18rem
    position: relative
    &__title
      padding-bottom: 8.8rem
    &__placeholder
      width: 100%
      height: 36rem
      background: $map-bg
    &::before
      @include decor('V')
      left: 0
      transform: translate(-40%, 30%)

  .feedback
    padding: 18rem 0
    &__title
      padding-bottom: 3.8rem
    &__form
      display: grid
      grid-template-columns: repeat(4, 1fr)
      gap: 3rem